## Ignore Visual Studio temporary files, build output, and environment secrets
[Oo]bj/
[Bb]in/
*.user
*.suo
*.userosscache
*.sln.docstates

## Logs
*.log
*.log.*

## OS Files
.DS_Store
Thumbs.db

## Rider / Resharper
.idea/
*.sln.DotSettings

## Environment Overrides
appsettings.Development.json
appsettings.Production.json
appsettings.*.json
.env

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
